<nav class="desktop-navigation-menu">

    <div class="container">

        <ul class="desktop-menu-category-list">

            <li class="menu-category">
                <a href="#" class="menu-title">Home</a>
            </li>

            <% titles.forEach(function(t) { %>
                <li class="menu-category">
                    <a href="#" class="menu-title">
                        <%= t.title %>
                    </a>

                    <ul class="dropdown-list">
                        <% t.sub_title.forEach(function(st) { %>
                            <li class="dropdown-item">
                                <a href="#">
                                    <%= st.sub_title %>
                                </a>
                            </li>
                            <% }) %>
                    </ul>
                </li>
                <% } )%>

                    <li class="menu-category">
                        <a href="/BlogMainPage" class="menu-title">Blog</a>
                    </li>

        </ul>

    </div>
</nav>